.search {
  &__container {
    background-color: blue;
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    outline: none;
  }

  &__btn {
    background-color: rgb(184, 192, 192);
    height: 40px;
    border-radius: 5px;
    transition: 500ms;
    &:hover {
      background-color: #ffffff;
      color: rgb(17, 0, 255);
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.load {
  // .load__more-btn

  &__more-btn {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(184, 192, 192);
    height: 40px;
    border-radius: 5px;
    transition: 500ms;
    &:hover {
      background-color: #ffffff;
      color: rgb(17, 0, 255);
    }
  }
}
.js-load-more-btn {
}

.photo-card {
  margin-right: 15px;
}
