.search {
  &__container {
    background-color: rgb(21, 255, 0);
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    outline: none;
  }

  &__btn {
    background-color: rgb(114, 186, 139);
    height: 40px;
    border-radius: 5px;
    transition: 500ms;
    &:hover {
      background-color: #0a9f45;
      color: rgb(72, 67, 138);
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.load {
  &__more-btn {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(114, 186, 139);
    height: 40px;
    border-radius: 5px;
    transition: 500ms;
    &:hover {
      background-color: #0a9f45;
      color: rgb(72, 67, 138);
    }
  }
}
.js-load-more-btn {
}

.photo-card {
  margin-right: 15px;
}
