<div class="search__container">
  <form class="search__form js-search-form" id="search-form">
    <button type="submit" class="search__btn js-search-btn">Search</button>
    <input
      class="search__input js-search-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
  </form>
</div>

<ul class="gallery__list">
  <div class="gallery"></div>

  <button class="load__more-btn js-load-more-btn">Load more...</button>
</ul>


<!-- if (unsplashApi.page === data.total_pages) {
  event.target.classList.add('is-hidden');
} -->